<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Mars Missions</h1>
    <ul>
        <% for(let i = 0; i < missions.length; i++) { %>
        <li>
          <a href="/<%=i%>"><%=missions[i].name %></a>
        </li>
        <% } %>
    </ul>
    
</body>
</html>

<style>
    body {
        background: url('https://i.imgur.com/zvpQQjK.jpg') no-repeat center center fixed;
        text-align: center;
        font-size: xx-large;
    }
</style>

<style>
    h1 {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: rgb(231, 176, 56);
    }
</style>

<style>
    li, ul {
        text-transform: capitalize;
        text-align: left;
        list-style-position: inside;
        margin-left: 22%;
    }
    </style>

    <style>
    a:link {
      color: rgb(0, 0, 0);
      background-color: transparent;
      text-decoration: none;
    }
    
    a:visited {
        color: rgb(0, 0, 0);
      background-color: transparent;
      text-decoration: none;
    }
    
    a:hover {
        color: rgb(231, 176, 56);
      background-color: transparent;
      text-decoration: underline;
    }
    
    a:active {
        color: rgb(0, 0, 0);
      background-color: transparent;
      text-decoration: underline;
    }
    </style>