<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Mars Missions</h1>
    <h2><%= `${missions.name}` %></h2>
    <h3><%= `${missions.launchDate}` %></h3>
    <img src=<%=`${missions.img}`;%> >
    <br></br>
    <a href="/">Back</a>
</body>
</html>

<style>
    body {
        background: url('https://i.imgur.com/zvpQQjK.jpg') no-repeat center center fixed;
        color: rgb(231, 176, 56);
    }
</style>

<style>
    h1 {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
</style>